

function load_video {
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2
insmod chain

set timeout=60
### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l 'KSCFG'

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Fedora Kickstart' --class fedora --class gnu-linux --class gnu --class os {
	linux /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=KSCFG inst.ks=hd:LABEL=KSCFG quiet
	initrd /images/pxeboot/initrd.img
}
